html {
  background-color: $background-color;
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  @include respond-to(print) {
    background: none;
    color: black;
  }
}

body {
  font-size: $font-size;
  line-height: $line-height;

  @include respond-to(print) {
    font-size: 1rem;
  }
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }

  &:active,
  &:hover {
    color: $link-color-active;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
