* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  padding: $vertical-rhythm;
  margin: 10vh auto;

  @include respond-to(phone) {
    margin-top: 0;
  } 

  & > section {
    margin-bottom: $vertical-rhythm * 2;
  }
}

h2 {
  margin-top: $vertical-rhythm;
  margin-bottom: $vertical-rhythm;
}

dl {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  @include respond-to(phone) {
    display: block;
  }

  dt, dd {
    margin: 0;
    margin-bottom: $vertical-rhythm;
  }

  dt {
    width: 35%;
    @include respond-to(phone) {
      font-weight: 900;
      width: auto;
      margin-bottom: 0;
    }
  }

  dd {
    width: 65%;
    @include respond-to(phone) {
      width: auto;
    }
  }
}