* {
  box-sizing: border-box;
}

.container {
  max-width: 884px;
  padding: $vertical-rhythm;
  margin: 8vh auto 10vh;

  @include respond-to(phone) {
    margin-top: 0;
  }

  & > section {
    margin-bottom: $vertical-rhythm * 2;
  }
}

h2 {
  margin-top: $vertical-rhythm;
  margin-bottom: $vertical-rhythm;
}

dl {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;

  @include respond-to(phone) {
    display: block;
  }

  dt,
  dd {
    margin: 0;
    margin-bottom: $vertical-rhythm;
    float: left;

    @include respond-to(phone) {
      float: none;
    }
  }

  $dt-width: 20;

  dt {
    width: #{$dt-width + '%'};
    @include respond-to(phone) {
      font-weight: 900;
      width: auto;
      margin-bottom: 0;
    }
  }

  dd {
    width: #{100 - $dt-width + '%'};
    @include respond-to(phone) {
      width: auto;
    }
  }
}
