$font-size: 1.1rem;
$one-pixel-in-rem: $font-size / 17.6;
$line-height: 1.4;

$vertical-rhythm: $font-size * $line-height / 2;

$background-color: #fff;
$text-color: #15161c;

$link-color: #1d1dad;
$link-color-active: lighten($link-color, 10%);
$link-color-visited: darken($link-color, 10%);
